body{
    overflow: hidden;
}
.title{
    color: #000;
    text-align: center;
    font-size: 40px;
    margin-top: 7%;
}
.section .row .column{
    margin-left: 38rem;
    display: flex;
}
.section .title .btn{
    height: 10px;
    width: 4rem;
    border-radius: 5px;
}
/*  */
.container{
    border-radius: 10px;
    background-color: rgb(24, 159, 204);
    height: 30rem;
    width: 33rem;
    justify-content: center;
    margin-left: 36rem;
    border: solid 3px #000;
    margin-bottom: 14rem;
    
}
.container.box{
    border-radius: 5px;
    color: #000;
    display: flex;
}
.container .box1{
    flex-wrap: wrap;
    width: 200px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: none;
    color: #000;
}
.box{
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: rgb(182, 210, 218);
    text-align: center;
    padding: 5px;
    padding-bottom: 2rem;
    border-radius: 2px;
}